<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #800000;">
    <a class="navbar-brand" href="#"
    >&emsp;<i class="fas fa-futbol"></i>&nbsp; </a
    >
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/leagueTable?division=1&season=1">League Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fixtures?division=1&week=1&season=1">Fixtures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bestOfDivision?division=1&season=1">Division Stats</a>
            </li>
            {% if data.nav.user_club %}
                <li class="nav-item">
                    <a class="nav-link" href="/edit_club/{{ user_club }}">Edit club</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/logout">Log out&emsp;</a>
            </li>
        </ul>
    </div>
</nav>
