<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Add User [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1>
                        <strong>Add User</strong>
                    </h1>
                    <form id="editClub" action="/addUser" method="post">
                        <div class="mb-3 col-3">
                            <label for="username" class="form-label"
                                ><strong>Username</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="username"
                            />
                        </div>

                        <div class="mb-3 col-3">
                            <label for="password" class="form-label"
                                ><strong>Password</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="password"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="email" class="form-label"
                                ><strong>E-mail</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="email"
                            />
                        </div>
                        <div class="col-12">
                            <button
                                type="submit"
                                class="btn btn-primary btn-custom-black"
                            >
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
