<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Add Division</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1>
                        <strong>Add Division</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                        <form id="addDivision" action="/addDivision" method="post">
                        <div class="mb-3 col-3">
                            <label for="name" class="form-label"
                                ><strong>Name</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                            />
                        </div>
                        <div class="col-12">
                            <button
                                type="submit"
                                class="btn btn-primary btn-custom-red"
                            >
                            Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
