<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Users [admin]</title>
    </head>
    <body>
        {% include 'navbar/admin.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1><strong>Users</strong></h1>
                    <button href="#" class="btn btn-primary btn-custom-green">
                        Add User
                    </button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Linked</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Joe</td>
                                <td>joe@joe.com</td>
                                <td><span class="badge bg-custom-red">Club</span>&nbsp;<span class="badge bg-dark">admin</span></td>
                                <td><a href="#">edit ></a></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Joe</td>
                                <td>joe@joe.com</td>
                                <td></td>
                                <td><a href="#">edit ></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
