<!DOCTYPE html>
<html>
{% include 'header.html' %}
<head>
    <title>Edit Club</title>
</head>
<body>
{% include 'navbar.html' %}
{% if data.club_info %}
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-3">
            <h1>
                <strong>Edit Club</strong>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-3">
            <form action="/editClub/{{ data.club_info.stamNumber }}" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">
                        <strong>Club Name</strong>
                    </label>
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            value="{{ data.club_info.name }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="stamNumber" class="form-label"
                    ><strong>Stam Number</strong></label
                    >
                    <input
                            type="number"
                            class="form-control"
                            id="stamNumber"
                            name="stamNumber"
                            value="{{ data.club_info.stamNumber }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label"
                    ><strong>Address</strong></label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            value="{{ data.club_info.address }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="zipCode" class="form-label"
                    ><strong>Zip Code</strong></label
                    >
                    <input
                            type="number"
                            class="form-control"
                            id="zipCode"
                            name="zipCode"
                            value="{{ data.club_info.zipCode }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label"
                    ><strong>City</strong></label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="city"
                            name="city"
                            value="{{ data.club_info.city }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label"
                    ><strong>Website</strong></label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="website"
                            name="website"
                            value="{{ data.club_info.website }}"
                    />
                </div>
                <button
                        type="submit"
                        class="btn btn-primary btn-custom-green"
                        value="submit"
                >
                    <i class="fas fa-save"></i>&nbsp;Save
                </button>
            </form>
        </div>
        {% if admin %}
            <form action="/admin/deleteClub/{{ data.club_info.stamNumber }}" method="POST">
                <button
                        type="submit"
                        class="btn btn-primary btn-custom-red"
                        value="temp"
                >
                    <i class="fas fa-trash-alt"></i>&nbsp;Delete
                </button>
            </form>
        {% endif %}
    </div>
</div>
</div>
{% endif %}
</body>
</html>
