<!DOCTYPE html>
<html>
{% include 'header.html' %}
<head>
    <title>League Table</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-9">
            <h1>
                <strong>League Table (Season {{ data.season }})</strong>
            </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <form action="/leagueTable" method="POST">
                <h2><strong>Divisions</strong></h2>
                {% for division in data.divisions %}
                    <input type="radio" name="division" value="{{ division.ID }}"
                           {% if division.ID == data.division %}checked="checked"{% endif %}>&nbsp;{{ division.name }}
                    <br>
                {% endfor %}
                <h2 class="mt-2"><strong>Seasons</strong></h2>
                {% for season in data.seasons %}
                    <input type="radio" name="season" value="{{ season.season }}"
                           {% if season.season == data.season %}checked="checked"{% endif %}>&nbsp;Season
                    {{ season.season }}<br>
                {% endfor %}
                <button class="btn btn-custom-green mt-2" type="submit" onclick="add_spinner('Get league table')" id="submit-button">
                    Get league table
                </button>
            </form>
        </div>
        <div class="col-9">
            <h2>{{ data.division_name }}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">GP&nbsp;<i class="fas fa-info-circle text-black-50"
                                               title="The amount of games the team has played"
                                               style="cursor: help"></i></th>
                    <th scope="col">W&nbsp;<i class="fas fa-info-circle text-black-50"
                                              title="The amount of matches that this team has won"
                                              style="cursor: help"></i></th>
                    <th scope="col">D&nbsp;<i class="fas fa-info-circle text-black-50"
                                              title="The amount of matches that this team has gotten a draw"
                                              style="cursor: help"></i></th>
                    <th scope="col">L&nbsp;<i class="fas fa-info-circle text-black-50"
                                              title="The amount of matches that this team has lost"
                                              style="cursor: help"></i></th>
                    <th scope="col">F&nbsp;<i class="fas fa-info-circle text-black-50"
                                              title="The amount of goals that this team has scored"
                                              style="cursor: help"></i></th>
                    <th scope="col">A&nbsp;<i class="fas fa-info-circle text-black-50"
                                              title="The amount of goals that this team has gotten against itself"
                                              style="cursor: help"></i>
                    </th>
                    <th scope="col" class="right">Pts&nbsp;<i class="fas fa-info-circle text-black-50"
                                                              title="The amount of points of this team"
                                                              style="cursor: help"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for team in data.league_table.teams %}
                    <tr>
                        <th scope="row">{{ team.ranking }}</th>
                        <td>
                            <a href="/team/{{ team.team_id }}"
                            >{{ team.name }}</a
                            >
                        </td>
                        <td>{{ team.GP }}</td>
                        <td>{{ team.W }}</td>
                        <td>{{ team.D }}</td>
                        <td>{{ team.L }}</td>
                        <td>{{ team.F }}</td>
                        <td>{{ team.A }}</td>
                        <td>{{ team.Pts }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9">

        </div>
    </div>
</div>
</body>
</html>
