<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Add Club [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9 mt-2">
                    <h1>
                        <strong>Add Club</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <form id="editClub" action="/admin/addClub" method="post">
                        <div class="mb-3 col-3">
                            <label for="clubName" class="form-label"
                                ><strong>Club Name</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="teamName"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="stamNumber" class="form-label"
                                ><strong>Stam Number</strong></label
                            >
                            <input
                                type="number"
                                class="form-control"
                                id="stamNumber"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="address" class="form-label"
                                ><strong>address</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="address"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="zipCode" class="form-label"
                                ><strong>Zip Code</strong></label
                            >
                            <input
                                type="number"
                                class="form-control"
                                id="zipCode"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="city" class="form-label"
                                ><strong>City</strong></label
                            >
                            <input
                                type="city"
                                class="form-control"
                                id="city"
                            />
                        </div>

                        <div class="mb-3 col-3">
                            <label for="phoneNumber" class="form-label"
                                ><strong>Phone Number</strong></label
                            >
                            <input
                                type="number"
                                class="form-control"
                                id="phoneNumber"
                            />
                        </div>

                        <div class="mb-3 col-3">
                            <label for="website" class="form-label"
                                ><strong>website</strong></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="website"
                            />
                        </div>
                        <div class="col-12">
                            <button
                                type="submit"
                                class="btn btn-primary btn-custom-black"
                            >
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
