<!DOCTYPE html>
<html>
{% include 'header.html' %}
<head>
    <title>Add Team [admin]</title>
</head>
<body>
{% include 'navbar/admin.html' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-9">
            <h1><strong>Add Team</strong></h1>
            <form id="editClub" action="/admin/addTeam" method="post">
                <div class="mb-3 col-3">
                    <label for="teamSuffix" class="form-label"
                    ><strong>Team Suffix</strong></label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="teamSuffix"
                            name="suffix"
                    />
                </div>
                <div class="mb-3 col-3">
                    <label for="colors" class="form-label"
                    ><strong>colors</strong></label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="colors"
                            name="colors"
                    />
                </div>
                <div class="mb-3 col-3">
                    <label for="clubs" class="form-label"
                    ><strong>clubs</strong></label
                    >
                    <select
                            class="form-select"
                            id="club"
                            name="stamNumber"
                            aria-label="Default select example"
                    >
                        {% for club in data.clubs %}
                            <option value={{ club.stam_number }}>{{ club.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <button
                            type="submit"
                            class="btn btn-primary btn-custom-black"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
