<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Assign referee [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1>
                        <strong>Assign Referee</strong>
                    </h1>
                    <form
                        id="assignReferee"
                        action="/assignReferee"
                        method="post"
                    >
                        <div class="mb-3 col-3">
                            <label for="week" class="form-label"
                                ><strong>Week</strong></label
                            >
                            <input
                                type="number"
                                class="form-control"
                                id="week"
                            />
                        </div>
                        <div class="mb-3 col-3">
                            <label for="match" class="form-label"
                                ><strong>Match</strong></label
                            >
                            <select
                                class="form-select"
                                id="match"
                                aria-label="Default select example"
                            >
                                <option selected>Select Match</option>
                                {% for match in data.matches %}
                                <option value="{{ match.ID }}">
                                    {{ match.teams }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12">
                            <button
                                type="submit"
                                class="btn btn-primary btn-custom-black"
                            >
                                Assign
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
