<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>View Divsisions [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1>
                        <strong>View Divisions</strong>
                    </h1>
                    <a href="/admin/addDivision" class="btn btn-primary btn-custom-green">
                        Add Division
                    </a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Division name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for division in data.divisions %}
                            <tr>
                                <th scope="row">{{ division.ID }}</th>
                                <td>{{ division.name }}</td>
                                <td>
                                    <a href="/admin/editDivision/{{ division.ID }}">edit ></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
