<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Clubs [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1><strong>Clubs</strong></h1>
                    <a href="/admin/addClub" class="btn btn-primary btn-custom-green">
                        Add Club
                    </a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Club name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club in data.clubs %}
                            <tr>
                                <th scope="row">{{ club.stam_number }}</th>
                                <td>{{ club.name }}</td>
                                <td>
                                    <a href="/editClub/{{ club.stam_number }}">edit ></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
