<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Referees [admin]</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1><strong>Referees</strong></h1>
                    <a
                        href="/admin/addReferee"
                        class="btn btn-primary btn-custom-green"
                    >
                        Add Referee
                    </a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Referee name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for referee in data.referees %}
                            <tr>
                                <th scope="row">{{ referee.ID }}</th>
                                <td>{{ referee.first_name }} {{ referee.last_name }}</td>
                                <td>
                                    <a
                                        href="/admin/assignReferee/{{ referee.ID }}"
                                        ><strong>assign</strong></a
                                    >
                                </td>
                                <td>
                                    <a
                                        href="/admin/editReferee/{{ referee.ID }}"
                                        >edit ></a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
