* {
    font-family: Montserrat;
}

h1 {
        font-size: 50px;
}

h2 {
        font-size: 30px;
}

h3 {
        font-size: 20px;
}

a {
    text-decoration: none;
}

.btn-custom-red {
    background-color: #800000;
    color: #ffffff;
    border: none;
}

.btn-custom-red:hover {
    background-color: #a00000;
    color: #ffffff;
    border: none;
}

.btn-custom-black {
    background-color: #000000;
    color: #ffffff;
    border: none;
}

.btn-custom-black:hover {
    background-color: #200000;
    color: #ffffff;
    border: none;
}

.btn-custom-green {
    background-color: #008055;
    color: #ffffff;
    border: none;
}

.btn-custom-green:hover {
    background-color: #009B67;
    color: #ffffff;
    border: none;
}
