<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Best Of Division</title>
    </head>
    <body>
        {% include 'navbar/logged_out.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-3 mt-2"></div>
                <div class="col-9 mt-2">
                    <h1>
                        <strong>Best of Div 2</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h2><strong>Divisions</strong></h2>
                    <a href="#">Div 1</a><br />
                    <a href="#"><strong>Div 2</strong></a
                    ><br />
                    <a href="#">Div 3</a><br />
                    <a href="#">Div 4</a><br />
                    <a href="#">Div 5</a><br />
                    <a href="#">Div 6</a><br />
                </div>
                <div class="col-9">
                    <div>
                        <h2><strong>Best Attack</strong></h2>
                        <a href="#">Team 3</a><br />
                    </div>
                    <div>
                        <h2><strong>Best Defense</strong></h2>
                        <a href="#">Team 7</a><br />
                    </div>
                    <div>
                        <h2><strong>Most Clean Sheets</strong></h2>
                        <a href="#">Team 2</a><br />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
