<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
            <title>{{ data.team }}</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-9">
                    <h1>
                        <strong>{{ data.team }}</strong>
                    </h1>
                    <h2>Last 3 encounters</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Home - Away</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in data.previous_matches %}
                            <th scope="row">{{ match.id }}</th>
                            <td>{{ match.date }}</td>
                            <td>{{ match.teams }}</td>
                            <td>{{ match.score }}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <h2>Future encounters</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Home - Away</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in data.previous_matches %}
                            <tr>
                                <th scope="row">{{ match.id }}</th>
                                <td>{{ match.date }}</td>
                                <td>{{ match.teams }}</td>
                                <td>{{ match.score }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
