<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Best Of Division</title>
    </head>
    <body>
        {% include 'navbar/logged_out.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-3 mt-2"></div>
                <div class="col-9 mt-2">
                    <h1>
                        <strong>Team 8</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <h2>Last 3 encounters</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Home Team</th>
                                <th scope="col">Away Team</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>3-2</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>3-2</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>3-2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <h2>Future encounters</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Home Team</th>
                                <th scope="col">Away Team</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>22/12</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>22/12</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Team 2</td>
                                <td>Team 3</td>
                                <td>22/12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
