<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>Match</title>
        <link
            href="{{ url_for('static', filename='calendar.css') }}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        {% include 'navbar/logged_out.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-1 mt-3">
                    <time datetime="2014-09-20" class="icon">
                        <strong>{{ data.date.day }}</strong>
                        <span>{{ data.date.slash }}</span>
                        <em>{{ data.date.time }}</em>
                    </time>
                </div>
                <div class="col-9 mt-1">
                    <h1>
                        <strong>Team 1 (home) - Team 2 (away)</strong>
                    </h1>
                    <div class="row">
                        <div class="col text-start">
                            <i class="fas fa-user"></i>&nbsp;&nbsp;John Doe
                        </div>
                        <div
                            class="col text-center"
                            style="{{ data.status.style }}"
                        >
                            {{ data.status.text }}
                        </div>
                        <div
                            class="col text-end"
                            style="font-family: Weather, Montserrat"
                        >
                            {{ data.weather }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                    <h2><strong>Stats</strong></h2>
                    <h3><strong>Head-to-head</strong></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ data.home_team }}</th>
                                <th scope="col">Draw</th>
                                <th scope="col">{{ data.away_team }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ data.head_to_head.home_team }}</td>
                                <td>{{ data.head_to_head.draw }}</td>
                                <td>{{ data.head_to_head.away_team }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3><strong>Current form</strong></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ data.home_team }}</th>
                                <th scope="col">{{ data.away_team }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ data.current_form.home_team }}</td>
                                <td>{{ data.current_form.away_team }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3><strong>Last 3</strong></h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">{{ data.home_team }}</th>
                                <th scope="col">{{ data.away_team }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match_idx in range(3) %}
                            <tr>
                                <td>{{ data.last_3.home_team[match_idx] }}</td>
                                <td>{{ data.last_3.away_team[match_idx] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
