<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <head>
        <title>{{ data.club_name }}</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row mt-5">
                <div class="col-3">
                    <h1>
                        <strong>{{ data.club_name }}</strong>
                    </h1>
                </div>
                <div class="col-3 float-left">
                    <a href="/editClub/{{ data.club_id }}"
                        ><strong>edit</strong></a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <h2>Home Matches</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Home - Away</th>
                                <th scope="col">Score</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in data.home_matches %}
                            <tr>
                                <th scope="row">{{ match.id }}</th>
                                <td>{{ match.date }}</td>
                                <td>{{ match.teams }}</td>
                                <td>{{ match.score }}</td>
                                <td>
                                    <a href="/editFixture/{{ match.id }}"
                                        >edit ></a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <h2>Teams</h2>
                    <button
                        onclick="window.location.href='/addTeam/{{ data.club_id }}'"
                        class="btn btn-primary btn-custom-green"
                    >
                        Add Team
                    </button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Team name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in data.teams %}
                            <tr>
                                <th scope="row">{{ team.id }}</th>
                                <td>{{ team.name }}</td>
                                <td>
                                    <a href="/editTeam/{{ team.id }}">
                                        edit ></a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
